<?xml version="1.0"?>

<!-- Copyright (C) 2023  Miguel Ángel González Santamarta

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<robot name="speak_external" xmlns:xacro="http://www.ros.org/wiki/xacro">  

  <link name="speak_external_link">
    
  </link>

  <gazebo reference="right_speak_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="left_speak_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <link name="right_speak_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.065 0.11" />
      </geometry>
      <material name="darkgrey">
        <color rgba="0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.065 0.11" />
      </geometry>
    </collision>
  </link>

  <link name="left_speak_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="0.001"  ixy="0"  ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.065 0.11" />
      </geometry>
      <material name="darkgrey">
        <color rgba="0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.08 0.065 0.11" />
      </geometry>
    </collision>
  </link>

  <joint name="right_speak_joint" type="fixed">
      <parent link="speak_external_link"/>
      <child link="right_speak_link"/>
      <origin xyz="0 0.1775 0"/>
  </joint>

  <joint name="left_speak_joint" type="fixed">
      <parent link="speak_external_link"/>
      <child link="left_speak_link"/>
      <origin xyz="0 -0.1775 0"/>
  </joint>

</robot>
