<?xml version="1.0"?>
<robot name="rb1" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <!-- Import RB1 base -->
  <xacro:include filename="$(find rb1_description)/robots/rb1_base.urdf.xacro" />

  <!-- Import RB1 torso -->
  <xacro:include filename="$(find rb1_description)/robots/rb1_torso.urdf.xacro" />

  <!-- Fix torso to base -->
   <joint  name="base_to_torso_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <parent link="base_link" />
    <child  link="base_torso_link" />
    <axis   xyz="0 0 0" />
   </joint>

  <!-- Conollers -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
      <parameters>$(find rb1_description)/config/rb1_control.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
