<?xml version="1.0"?>

<!-- Copyright (C) 2023  Miguel Ángel González Santamarta

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo reference="torso_front_link">
    <selfCollide>true</selfCollide>
    <turnGravityOff>false</turnGravityOff>  
  </gazebo>

  <gazebo reference="torso_back_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  
  <gazebo reference="torso_front_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  
  <gazebo reference="head_link">
    <material>Gazebo/Grey</material>
  </gazebo>
  
  <gazebo reference="eyes_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="GT_frame_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="GT_stick_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="GT_arrow_link">
    <material>Gazebo/Wood</material>
  </gazebo>
        
</robot>